

#top-navbar
    display: block
    background: linear-gradient(173.03deg, #01302B 5.45%, rgba(21, 17, 30, 0) 94.57%)

    ul
        text-align: center

        li
            display: inline-block
            // list-style: none

            a
                text-decoration: none
                color: white

                &:hover
                    text-decoration: wavy